<div class="container">

    <div class="row">
        <div class="col">
            <app-header></app-header>
        </div>
    </div>

    <div class="row">
        <div class="col bg-light">
            <app-navigation></app-navigation>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 bg-secondary">
            <app-main></app-main>
        </div>
        <div class="col-12 col-md-4 bg-dark text-secondary">
            <app-sidebar></app-sidebar>
        </div>
    </div>

    <div class="row">
        <div class="col bg-dark text-light">
            <app-footer></app-footer>
        </div>
    </div>

</div>